<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    
  <targets>
    <target name="file" xsi:type="File"
    layout="${longdate} ${threadid:padding=3} ${level:padding=-7} ${logger:padding=-40} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
    fileName="${basedir}/logs/${shortdate}.log" createDirs="true" archiveEvery="Day" maxArchiveFiles="120"/>
    <target name="errors" xsi:type="File"
    layout="${longdate} ${threadid:padding=3} ${level:padding=-7} ${logger:padding=-40} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
    fileName="${basedir}/logs/${shortdate}.errors.log" createDirs="true" archiveEvery="Day" maxArchiveFiles="120" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minLevel="Error" writeTo="errors" />
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
  </rules>
</nlog>
